# Python Assignment 2 S.Y. D. S

# Basic Exercises on Data Importing - Understanding - Manipulating - Analysis - Visualization

# Section-1: The pupose of the below exercises (1-7) is to create dictionary and convert into dataframes, how to diplay etc...

# The below exercises required to create data

# 1. Import the necessary libraries (pandas, numpy, datetime, re etc)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import re

# set the graphs to show in the jupyter notebook
%matplotlib inline

# set seabor graphs to a better style
sns.set(style="ticks")

2. Run the below line of code to create a dictionary and this will be used for below exercisesÂ¶

In [1]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

3. Assign it to a object called pokemon and it should be a pandas DataFrame

In [2]:
import pandas as pd

raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

pokemon = pd.DataFrame(raw_data)

4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [3]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

5. Add another column called place, and insert places (lakes, parks, hills, forest etc) of your choice.

In [4]:
pokemon['place'] = ['lakes', 'parks', 'hills', 'forest']
print(pokemon)

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes   lakes
1  Charmander   fire  39  Charmeleon      no   parks
2    Squirtle  water  44   Wartortle     yes   hills
3    Caterpie    bug  45     Metapod      no  forest

6. Display the data type of each column

In [5]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

7. Display the info of dataframe

In [6]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedex    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 324.0+ bytes

# Section-2

## The below exercises required to use wine.data

8. Import the dataset wine.txt from the folder and assign it to a object called wine
Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [7]:
import pandas as pd


wine = pd.read_csv('wine.txt', header=None)

print(wine.head())

   0      1     2     3     4    5     6     7     8     9     10    11    12  \
0   1  14.23  1.71  2.43  15.6  127  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1   1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2   1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3   1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4   1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93

     13
0  1065
1  1050
2  1185
3  1480
4   735

9. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [8]:

columns_to_delete = [0, 3, 6, 8, 10, 12, 13]


wine = wine.drop(columns=columns_to_delete, axis=1)


print(wine.head())

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### 10. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [9]:

new_columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

wine.columns = new_columns


print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    14.23        1.71               15.6        127        3.06
1    13.20        1.78               11.2        100        2.76
2    13.16        2.36               18.6        101        3.24
3    14.37        1.95               16.8        113        3.49
4    13.24        2.59               21.0        118        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

11. Set the values of the first 3 values from alcohol column as NaN

In [11]:
import pandas as pd
import numpy as np

wine.loc[:2, 'alcohol'] = np.nan

print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      NaN        1.71               15.6        127        3.06
1      NaN        1.78               11.2        100        2.76
2      NaN        2.36               18.6        101        3.24
3    14.37        1.95               16.8        113        3.49
4    13.24        2.59               21.0        118        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

12. Now set the value of the rows 3 and 4 of magnesium as NaN

In [12]:
wine.loc[2:3, 'magnesium'] = np.nan
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      NaN        1.71               15.6      127.0        3.06
1      NaN        1.78               11.2      100.0        2.76
2      NaN        2.36               18.6        NaN        3.24
3    14.37        1.95               16.8        NaN        3.49
4    13.24        2.59               21.0      118.0        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

13. Fill the value of NaN with the number 10 in alcohol and 100 in magnesiumÂ¶

In [13]:
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0    10.00        1.71               15.6      127.0        3.06
1    10.00        1.78               11.2      100.0        2.76
2    10.00        2.36               18.6      100.0        3.24
3    14.37        1.95               16.8      100.0        3.49
4    13.24        2.59               21.0      118.0        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

14. Count the number of missing values in all columns.
â

In [14]:
missing_values = wine.isna().sum()
print(missing_values)

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

15. Create an array of 10 random numbers up until 10 and save it.
â

In [15]:
random_numbers = np.random.randint(10, size=10)
print(random_numbers)

[1 5 9 9 8 8 3 5 0 3]

16. Set the rows corresponding to the random numbers to NaN in the column alcohol

In [16]:
wine.loc[random_numbers, 'alcohol'] = np.nan
print(wine.head())

   alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      NaN        1.71               15.6      127.0        3.06
1      NaN        1.78               11.2      100.0        2.76
2    10.00        2.36               18.6      100.0        3.24
3      NaN        1.95               16.8      100.0        3.49
4    13.24        2.59               21.0      118.0        2.69

   proanthocyanins   hue
0             2.29  1.04
1             1.28  1.05
2             2.81  1.03
3             2.18  0.86
4             1.82  1.04

### 17.  How many missing values do we have now?

In [17]:
missing_values_alcohol = wine['alcohol'].isna().sum()
print(f"Number of missing values in the 'alcohol' column: {missing_values_alcohol}")

Number of missing values in the 'alcohol' column: 6

18. Print only the non-null values in alcohol

In [18]:
non_null_alcohol_values = wine['alcohol'].notna()
non_null_alcohol_data = wine.loc[non_null_alcohol_values, 'alcohol']
print(non_null_alcohol_data)

2      10.00
4      13.24
6      14.39
7      14.06
10     14.10
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 172, dtype: float64

19. Delete the rows that contain missing values

In [19]:
wine_without_missing_values = wine.dropna()
print(wine_without_missing_values)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
2      10.00        2.36               18.6      100.0        3.24
4      13.24        2.59               21.0      118.0        2.69
6      14.39        1.87               14.6       96.0        2.52
7      14.06        2.15               17.6      121.0        2.51
10     14.10        2.16               18.0      105.0        3.32
..       ...         ...                ...        ...         ...
173    13.71        5.65               20.5       95.0        0.61
174    13.40        3.91               23.0      102.0        0.75
175    13.27        4.28               20.0      120.0        0.69
176    13.17        2.59               20.0      120.0        0.68
177    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
2               2.81  1.03
4               1.82  1.04
6               1.98  1.02
7               1.25  1.06
10              2.38  1.25
..               ...   ...
173             1.06  0.64
174             1.41  0.70
175             1.35  0.59
176             1.46  0.60
177             1.35  0.61

[172 rows x 7 columns]

20. Reset the index, so it starts with 0 again

In [20]:
wine_without_missing_values_reset_index = wine_without_missing_values.reset_index(drop=True)
print(wine_without_missing_values_reset_index)

     alcohol  malic_acid  alcalinity_of_ash  magnesium  flavanoids  \
0      10.00        2.36               18.6      100.0        3.24
1      13.24        2.59               21.0      118.0        2.69
2      14.39        1.87               14.6       96.0        2.52
3      14.06        2.15               17.6      121.0        2.51
4      14.10        2.16               18.0      105.0        3.32
..       ...         ...                ...        ...         ...
167    13.71        5.65               20.5       95.0        0.61
168    13.40        3.91               23.0      102.0        0.75
169    13.27        4.28               20.0      120.0        0.69
170    13.17        2.59               20.0      120.0        0.68
171    14.13        4.10               24.5       96.0        0.76

     proanthocyanins   hue
0               2.81  1.03
1               1.82  1.04
2               1.98  1.02
3               1.25  1.06
4               2.38  1.25
..               ...   ...
167             1.06  0.64
168             1.41  0.70
169             1.35  0.59
170             1.46  0.60
171             1.35  0.61

[172 rows x 7 columns]